.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 5px solid lightcoral;
}

.lnk {
    border: 2px solid coral;
    text-decoration: none;
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: dimgrey;
    border-radius: 15%;
    font-family: Monaco, "Lucida Console", monospace;
}